 body {
	 font-family: arial; margin:auto; padding:0px; 
	 }
.container { width:95%; margin:auto;}
.ty { display: inline-block; overflow: none; width: 40%; padding-left: 32px; margin-bottom: 15px; margin-top:25px; padding-bottom: 1px;
}
.ty1 { display: inline-block; overflow: none; width: 40%; margin-left: 115px; padding-left: 35px; margin-top: 25px;}
.fifty {
	 display: inline-block; overflow:none; width:40%; height:40%; margin-bottom: 35px; margin-left: 30px; padding-top:0px;	}
	pre { font-family: verdana; line-height: 7px; }	
.clearfix::after { content: ""; clear: both; display: table;
  }
.ft { display: inline-block; width: 60%; height: 80%; clear: none; margin-bottom: 25px; padding-left:15px; margin-top:30px; } 
.fo { display: inline-block; width: 40%; float: left; margin-top: 30px; padding-left:25px; }	 
		
.fm { display: inline-block; overflow:none; width:40%; height:40%; margin-bottom: 25px; margin-left: 75px; }
* { box-sizing: border-box; }	
.box { float: left; width: 33.33%; margin-bottom:30px; } 	 
.pc { 
    background-color:#19628A; width: 50%; color:white; font-size: 11px; }
.pk { 
    background-color:#eeeeee; color:#555555; width: 50%; vertical-align:top; font-size: 10px; padding-left: 20px; }
.ph {
	background-color:white; vertical-align:top; width: 50%; padding-bottom: 20px;}
	}
nav { font-size:9px; margin-right: 50px; }
 a {
	color: white; display: inline-block; text-decoration: none; padding: 3px; }
footer {
	background-color:#333333; width:640px; padding:18px; margin-left:34px; vertical-align:top; text-align:center; color:white; font-size:10px;
	}
h2 {
    color:white; font-size:25px;margin-left: 30px; padding-right: 250px; }
h4 { 
    color:white; font-size: 11px; display: inline-block;
   }
h3 {
	font-size: 13px; text-align: center; margin-right: 45px; font-family: verdana;
	}
img {
	margin-left: 65px;}
button {
	border:none; color:white; padding:8px 45px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; font-weight: bold; 
	margin: 8px 4px; margin-left:0px; background-color: #fd862f; cursor: pointer; 
}
.button2 {
	border:none; color:white; padding:7px 66px; text-align: center; text-decoration: none; display: inline-block; font-size: 13px; margin: 5px 4px; 
background-color: #fd862f; cursor: pointer;
 }
table {
	font-size: 15px; text-align:center; margin-left: 2px; margin-top: 5px; 
	}
table, th, td { 
    border: 1px solid #dddddd; border-collapse:collapse;
	}
th {
	padding: 15px;
	}
td { padding: 8px; }
label { margin-left: 10px; font-size:14px;} 
caption { margin-left: 40px; font-size: 1px; }
form input {
	color: #cccccc; padding: 8px; margin:8px; border-radius: none;
	}
