
h3.black { 
    font-size: 45px;
    color: black; 
   }

.services { 
        display: inline-block;
        overflow: none;
        width: 80%;
        text-align: center;
        vertical-align: top;
       }

p.first { 
       width: 870px;
       line-height: 1.5em;
       font-size: 30px;
       margin-top: -25px;
       margin-left: 120px; 
      }

.first {
             background-color: #fff;
             color:#555555;
             vertical-align: top;
             padding-bottom: 60px;
            }          

.clothes-image {
                   width: 30%;
                   text-align: left;
                   overflow: none;
                   margin-top: -320px;
                  }

.first-header {
           display: inline-block;
           overflow: none;
           width: 60%;
           vertical-align: top;
           padding-top: 15px;
           margin-left: 350px;
          }        

p.second {
       width: 780px;
       line-height: 1.5em;
       font-size: 30px;
       margin-top: -25px;
      }

.second {
             background-color: #f5f5f5;
             color: #555555;
             vertical-align: top; 
             padding-bottom: 80px;
            }

.second-header {
            width: 50%;
           }

.smarthome-image {
                     width: 30%;
                     text-align: right;
                     margin-left: 750px;
                     margin-top: -340px;       
                    }
p.third {
         width: 730px;
         line-height: 1.5em;
         font-size: 30px;
         margin-top: -25px;
        }

.third {
               background-color:#fff;
               color: #555555; 
               vertical-align: top;
               padding-bottom: 70px;
              }

.people-image {
                  width: 30%;
                  padding-top: 100px;
                 }

.third-header {
           width: 50%;
           margin-left: 350px;
           margin-top: -380px;
           vertical-align: top;
          }
      
p.fourth{
       width: 730px;
       line-height: 1.5em;
       font-size: 30px;
       margin-top: -25px;
      }          
      
